In [1]:
## Boolean Functions 
type(True)
True

True

In [2]:
## Boolean Functions 
type(False)
False

False

In [3]:
str = "Harshit Tiwari"
print(str.isupper())
print(str)

False
Harshit Tiwari

## Boolean and Logical Operators

In [4]:
True and False

False

In [5]:
True and True

True

In [6]:
False and False

False

In [7]:
True or False

True

In [8]:
False and True

False

## List in Python

A list is a DataStructure in python that is mutable, or changeable, ordered sequence of elements. Each element or Value which is inside list is called item. List are defined within a [].

In [9]:
lst_example= []
type(lst_example)

list

In [10]:
type([])

list

In [43]:
lst = list()
type(lst)
lst=['Apple','Mango','Samsung','Xiaomi', 100, 200 , 2030]
len(lst)
#Indexing in list
lst.append("NewEnteredValue")

# We can also append nested lists 
lst.append(["john","wick"])
lst

['Apple',
 'Mango',
 'Samsung',
 'Xiaomi',
 100,
 200,
 2030,
 'NewEnteredValue',
 ['john', 'wick']]

In [45]:
# We can insert values as well in the specified indexes

lst.insert(3,"ElementInsertedbyInsertFunction")
lst
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
#Indexing in list
lst[3]

'Xiaomi'

In [23]:
# Indexing in list
lst[2]  
# using range operator
lst[2:]
## This takes two values. first one that starts with 0 and then n - 1

['Samsung', 'Xiaomi', 100, 200, 2030, 'NewEnteredValue']

In [50]:
lst=[1,2,3,4,5,6,7]
lst.extend([7,8,9,10])
lst
# extend functions extends the values in the list without making nested list
sum(lst)

61

In [63]:
lst.insert(0,1)
# lst.pop(0)
sum(lst)

67

In [66]:
lst

[1, 1, 1, 1, 1, 1, 1, 1, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [70]:
lst.count(1)
lst.insert(3,2)
lst.index(1,3,8)
lst*5
# This would multiply the list accordingly

[1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 10]